input{
    margin: 10px;
}
abbr{
    color: red;
    font-weight: bold;
}
address{
    font-style: italic;
    margin: 15px;
}
article{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    display: block;
}
bdo{
    direction: rtl;
    unicode-bidi: bidi-override;
}
body{
    background-image: url(./flowers.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
}